body {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100vh;
      background-color: rgb(131, 130, 119);
    }
 .clock-face {
      position: absolute;
      width: 150px;
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }
  .clock-face :nth-child(3n) {
    background: red;
  }


    .clock {
      width:50%;
      height:6px;
      background:black;
      position: absolute;
      top:50%;
      -webkit-transform-origin: 100%;
              transform-origin: 100%;
      -webkit-transition: all 0.05s;
      transition: all 0.05s;
      -webkit-transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
              transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
